
<link rel="stylesheet" href="/assets/css/gallery.css">

<div class="galleryrow">
  {% assign i=0 %}
  {% for image in site.static_files %}
      {% if image.path contains location %}
        {% if i==0 %}
          <div class="gallerycolumn">
        {% endif %}
        <a href="{{ site.baseurl }}{{ image.path }}" target="_blank">
          <img src="" alt="" data-echo="{{ site.baseurl }}{{ image.path }}" />
        </a>
        {% assign i = i | plus: 1 %}
        {% if i==8 %}
          </div>
          {% assign i=0 %}
        {% endif %}
      {% endif %}
  {% endfor %}
</div>
