<!doctype html>
<html>

{% include head.html %}


<!--------------------------------------------------------

          |
         -+-                   _      Paria and Carmelo
         _|_            {@}  _|=|_
        /___\          /(")\  (")
     .–––'-'–––.      /((~))\/<x>\        _   .-.
    /___________\     ~~/@\~~\|_|/       <v> ((_))
     | A /^\ A |       /   \  |||       ((_)) '-'
     |   |"|   |      /~@~@~\ |||        '-'
 ____|___|_|___|_____/_______\|||___September 14th 2018___

------------------------------------------------------------>

<body>

<div class="container">
  {% include header.html %}
  <div class="posts-wrapper">
    {{ content }}
  </div>
  {% include footer.html %}
</div>

</body>
</html>
